@media screen and ( max-width:878px ){
    .card{
        width: calc( 94% / 4 );
        transition: 2s;
    }
    .card-title{
        font-size: 11px;
        transition: 2s;
    }
}


@media screen and ( max-width:639px ){
    .container{
        margin: 10px 20px;
        transition: 2s;
    }
    .card{
        width: calc( 96% / 2 );
        margin-bottom: 10px;
        transition: 2s;
    }
    .album-container{
        gap: 4%;
        transition: 2s;
    }
}


@media screen and ( max-width:576px ){
    header{
        width: 40px;
        align-items: center;
        transition: 2s;
    }
    .logo-visible{
        display: none;
    }
    .logo-hidden{
        display: initial;
        margin: 5px 10px 5px 10px;
    }
    .sidebar-menu, .personal-area{
        padding: 0 10px;
    }
    .sidebar-menu h4{
        display: none;
    }
    .sidebar-playlist{
        display: none;
    }
    .personal-area h4{
        display: none;
    }
    .download-area{
        border-bottom: none;
    }
    .download, .my-info{
        margin-right: 0;
    }
    .player-command, .player-bar{
        transition: 2s;
        gap: 10px;
    }
}