/* General Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 100%;
}

body{
    display: flex;
    position: relative;
    height: calc( 100vh - 90px );
}

li{
    height: 25px;
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

/* Header Rules */
header{
    width: 220px;
    background-color: #000000;
    color: #636363;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-shrink: 0;
}

.sidebar-main{
    overflow: hidden;
    flex-grow: 1;
}

.img-logo{
    width: 130px;
    margin: 20px 0 20px 20px;
    min-height: 40px;
}

.sidebar-element.active{
    color: white;
    border-left: 2px solid rgb(17, 247, 17);
    margin-left: -20px;
    padding-left: 18px;
}

.sidebar-menu{
    padding: 0 0 15px 20px;
    min-height: 105px;
}

.sidebar-element{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.sidebar-menu img{
    height: 20px;
    width: 20px;
}

.sidebar-menu h4{
    font-size: 11px;
}

.sidebar-menu h4:hover{
    color: white;
}

.sidebar-playlist{
    padding: 0 0 10px 20px;
    height: 100%;
}

.sidebar-playlist h3{
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.add-playlist{
    height: 30px;
    width: 30px;
    background-color: #636363;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.sidebar-playlist i{
    font-size: 18px;
    color: black;
}

.sidebar-playlist h4{
    font-size: 13px;
}

.playlist-head{
    margin-bottom: 15px;
    min-height: 30px;
}

.playlist-head:hover .add-playlist{
    background-color: white;
}

.playlist-head:hover h4{
    color: white;
}

.playlist-body{
    overflow-y: auto;
    height: 42%;
}

.playlist-items li{
    font-size: 10px;
    font-weight: bold;
}

.playlist-items li:hover{
    color: white;
}

.personal-area{
    padding: 0 20px;
}

.download{
    width: 12px;
    margin-right: 5px;
}

.download+h4{
    font-size: 10px;
}

.download-area{
    padding-bottom: 2px;
    border-bottom: 1px solid #636363;
}

.download-area h4:hover{
    color: white;
}

.profile-area{
    padding: 5px 0 5px 0;
}

.my-info{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #636363;
    margin-right: 5px;
    overflow: hidden;
}

.my-info+h4{
    color: white;
    font-size: 13px;
}



/* Main Rules */

/* Banner Container */
main{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
}

.banner{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: right;
    position: sticky;
    top: 0;
    left: 0;
}

.banner .upgrade{
    display: inline-block;
    margin: 20px 20px 0 0;
    transition: 1s;
}

.banner .upgrade:hover{
    transform: scale(1.1);
}

.upgrade h3{
    color: white;
    border: 1px solid white;
    border-radius: 9999px;
    padding: 10px 30px;
    font-size: 12px;
    text-transform: uppercase;
}

/* Main Content */
nav{
    text-align: center;
}

.main-content nav ul li{
    display: inline-block;
    margin: 0 5px 0 5px;
    text-transform: uppercase;
    font-size: 11px;
    color: #636363;
    position: relative;
}

.main-content nav li a:hover{
    color: white;
}

.main-content nav li .active::after{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    border-radius: 8px;
    background-color: rgb(17, 247, 17);
    top: 70%;
    left: 50%;
    transform: translate( -50% );
}

.container{
    margin: 10px 10px 30px 10px;
    color: white;
}

.container-title{
    font-size: 20px;
    margin-bottom: 5px;
}

.container-title-description, .card-artist{
    font-size: 11px;
    color: #636363;
}

.album-container{
    display: flex;
    margin-top: 20px;
}

.card{
    width: 15%;
    margin-right: 2%;
}

.card:last-child{
    margin-right: -2%;
}

.img-card{
    margin-bottom: 5px;
}

.img-card.circle{
    border-radius: 50%;
    overflow: hidden;
}

.card-title, .card-artist{
    text-align: center;
}

.card-title{
    font-size: 13px;
    margin-bottom: 5px;
}



/* Footer Rules */
footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Song Container */
.song{
    width: 220px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actual-song{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-album{
    height: 50px;
    width: 50px;
}

.song-album{
    color: white;
    font-size: 13px;
}

.song-name{
    color: #636363;
    font-size: 11px;
}

.song-name:hover{
    color: white;
    text-decoration: underline;
}

.song-reaction{
    color: #636363;
}

.folder, .heart{
    margin-left: 7px;
}

.heart:hover, .folder:hover{
    color: white;
}

/* Player Container */
.player{
    width: 40%;
}

.player-command, .player-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white;
}

.player-command .fa-play-circle{
    font-size: 34px;
    transition: 1s;
}

.player-command .fa-play-circle:hover{
    transform: scale(1.2);
}

.player-command{
    margin-bottom: 15px;
}

.player-bar h4{
    font-size: 13px;
}

.cursor-ball{
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate( 50% , -25% );
    z-index: 5;
    cursor: pointer;
    visibility: hidden;
}

.bar{
    height: 5px;
    flex-basis: 100px;
    border-radius: 8px;
    background-color: #636363;
    position: relative;
    flex-grow: 1;
}

.bar .current-time-bar{
    width: 20%;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bar:hover .current-time-bar{
    background-color: rgb(17, 247, 17);
}

.bar:hover .cursor-ball{
    visibility: visible;
}


/* Volume-command Container */
.volume-command{
    display: flex;
    width: 220px;
    padding: 20px 10px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: white;
}