/* General Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    display: flex;
    position: relative;
    height: 100vh;
}


/* Header Rules */
header{
    width: 220px;
    background-color: #000000;
}



/* Main Rules */
main{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;

}

.banner{
    height: 90px;
    background-color: #080B12;
}



/* Footer Rules */
footer{
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song{
    width: 220px;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.actual-song{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-album{
    height: 50px;
    width: 50px;
}

.song-album{
    color: white;
    font-size: 15px;
}

.song-name{
    color: #636363;
    font-size: 13px;
}

.song-reaction{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #636363;
}